//- env.NODE_ENV - development / production

//- Links 

- const phoneLink = "tel:84955553575"
- const phoneNumber = "8 495 555-35-75"
- const mailAdress = "info@zhk.com"
- const privacyLink = "/privacy-policy.pdf"

//- social
- const vkLink = "#"
- const instLink = "#"
- const fbLink = "#"
- const tgLink = "#"

//- image placeholder
- const ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
- const imagePlaceholder = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="

//- image paths
- const assets = "./assets/images/"
- const modules = `/modules/images/`
- const assetsIco = "./assets/images/icons/"
- const modulesIco = `/modules/images/icons/`

//- file paths
- const stylesPath = `./assets/styles/main.min.css`
- const scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- const breakpoints = JSON.parse(env.grid_breakpoints)

//- colors 

