//- https://getuikit.com/docs/accordion#component-options

//-
//- Обертка аккордиона, внутрь слот для контента - табы аккордиона
//-

mixin Accordion
	-
		const { options, onlyHTML } = Component(attributes, {
			options: { type: String, default: '' },

			onlyHTML: { type: Boolean, default: false },
		})

		if (!onlyHTML) { attributes['data-uk-accordion'] = options }

	ul.accordion&attributes(attributes)
		block

//-
//- Один таб аккордиона
//-

mixin AccordionItem
	-
		const { title, content, isOpen } = Component(attributes, {
			title: { type: String, required: true },

			content: { type: String, required: true },

			isOpen: { type: Boolean, default: false },
		})


	- if (isOpen) { attributes.class += ' uk-open' }

	li.accordion-item&attributes(attributes)
		a.accordion-item__title.uk-accordion-title(href="#")
			p!= title

			block closeIcon
		.accordion-item__content.uk-accordion-content 
			p!= content
