mixin AngleDownSvg(filler = 'currentColor')
	svg(viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
		path(d="M21.0206 1.66657L11.5114 9.67432L2.0022 1.66657" stroke=filler stroke-width="4")