.popup {
    align-items: center;
    padding: 1rem 0;
    background: rgba(0, 0, 0, .6);

    &__body {
        padding: 0;
    }

    &__close {
        svg {
            width: 1rem;
            height: 12px;
        }
    }

    &__title {}

    &__subtitle {}
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .popup {
        padding: 2.5rem;

        &__body {}

        &__close {
            right: 1rem;
            top: 1rem;
            svg {
                width: 1.5rem;
            }
        }

        &__title {}

        &__subtitle {}
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .popup {
        &__body {}

        &__close {
            svg {}

            &:hover {
                color: link-hover($primary);
            }
        }

        &__title {}

        &__subtitle {}
    }
}