//- Links 
- const phoneNumber = "8 495 555-35-75"
- const phoneLink = `tel:${digits(phoneNumber)}`
- const mailAdress = "info@zhk.com"
- const policyLink = "/privacy-policy.pdf"

//- Social
- const vkLink = "#"
- const instLink = "#"
- const fbLink = "#"
- const tgLink = "#"

//- Image placeholder base64 empty image
- const ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
- const imagePlaceholder = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="

//- Image paths
- const images = "/images/"
- const imagesIco = "/images/icons/"

//- File paths
- const stylesPath = `./styles/main.min.css`
- const scriptsPath = `./scripts/main.min.js`

//- Grid breakpoints
- const breakpoints = JSON.parse(env.grid_breakpoints)

- const jpg = `jpg`, png = `png`, svg = `svg` //- для удобства

-
    const breakpointsLetterCollation = {
        'S': 'xs',
        's': 'sm',
        'm': 'md',
        'l': 'lg',
        'L': 'xl',
        'x': 'xxl',
    }
